#cloud-config
users:
  - name: ubuntu
    groups: sudo
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
      - ${ssh_public_key}

package_update: true
package_upgrade: true

packages:
  - vim
  - curl
  - wget
  - nginx

runcmd:
  - systemctl enable --now ssh
  - systemctl enable --now nginx
  - echo "Test echo SSH key and Nginx configured via cloud-init" > /var/log/cloud-init.log
